.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px;
  padding-top: 93px;
  padding-bottom: 94px;
}

.logo {
  width: 148px;
  height: 105px;
  margin-left: 38px;
}

.menu-list {
  display: flex;
  list-style-type: circle;
  gap: 33px;
}

.menu-text {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

.menu-link {
  text-underline-offset: 4px;
}

.menu-list:first-child {
  list-style: none;
}

.menu-item_no_marker {
  text-decoration: none;
}

.contacts {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 185px;
  line-height: 24.3px;
  font-style: normal;
}

.address-link {
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  z-index: 1;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 180px;
  min-height: 757px;
}

.cover-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 165px;
  padding-left: 50px;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
  gap: 20px;
}

.title-center {
  align-self: center;
  padding-right: 0.2em;
}

.title-bottom {
  align-self: flex-end;
  padding-right: 0.2em;
}

.auction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 107px 50px 48px;
}

.auction-text {
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 400;
  word-spacing: 18px;
  text-transform: uppercase;
  color: #fff;
}

.auction-button {
  display: block;
  color: #fff;
  border: 1px solid #fff;
  padding: 11px 32px;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.span-text {
  word-spacing: 20px;
}

.container {
  margin: 0 24px 120px;
}

.section-title-lots {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-left: 40px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 33px;
  list-style: none;
  flex-wrap: wrap;
}

.card {
  display: flex;
  position: relative;
  z-index: 1;
  padding: 48px 39px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 596px;
  justify-content: space-between;
}

.card-content {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-decoration: none;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card-title {
  align-items: flex-start;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.card-text {
  display: flex;
  align-items: flex-end;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: #fff;
  height: 100%;
}

.more {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-transform: lowercase;
  margin-left: 40px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
}

.logo-container {
  display: flex;
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  padding: 50px;
  justify-content: center;
  align-items: center;
  align-self: self-start;
  justify-self: center;
  margin: 35px 47px;
}

.about-content-container {
  display: flex;
  flex-direction: column;
  margin-top: 133px;
  width: 693px;
}

.about__title {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
  margin-top: 3px;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 3px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 61px 50px 82px;
}

.footer-menu {
  padding-top: 3px;
  padding-right: 22px;
}

.footer-contacts {
  margin: 0;
  width: 265px;
}

.socials {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 1px;
}

.socials-list {
  display: flex;
  width: 240px;
  list-style: none;
  gap: 48px;
}

.menu-list-footer {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
  overflow: hidden;
}
