/* место для вашего кода */
header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    width: 1100px;
    height:293px;
    align-items: center;
}

.header__menu {
    width:391.48px;
    height:22px;
    margin-left: 50px;
    margin-bottom: 5px;
    display:flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}

.header__links-list {
    display: flex;
    list-style:circle;
    list-style-position:outside;
    column-gap: 13px;
    letter-spacing:normal;
}

.header__links-list-item {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    padding-inline-end: 20px;
    padding-bottom: 15px;
}

.header__links-list-item_no-bullit {
    list-style: none;
    text-decoration: none;
}

.header__link {
    text-decoration: underline;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display:block;
    padding-top: 52;
    padding-left: 0;
    width: 100%;
}

.header__logo-image {
    height:104px;
    width:130px;
}

.address {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 264.57;
    height: 98;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 135%;
    text-underline-offset: 4px;
    max-width: 270px;
    padding-bottom: 2px;
}

.header__address {
    width: 240px;
    margin-right: 50px;
    flex-wrap:wrap;
    justify-self: end;
    max-width: 240px;
}

.cover {
    display:flex;
    position:relative;
    background: url("../images/cover.jpg");
    background-size: cover;
    padding: 100px,200px;
    min-height: 757px;
    background-position: center;
}

.overlay {
    display:flex;
}

.overlay::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
    z-index: 2;
}

.cover__title {
    display: block;
    position: relative;
    margin-top: 165px;
    margin-left: 50px;
    padding: 16px, 8px;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    z-index: 3;
    width:1000px;
    height:385px;
    line-height: 115%;
    color: #fff;
}

.aligned-text {
    display:block;
}

.aligned-text_left {
  letter-spacing: 0.3em;
}

.aligned-text_center {
    letter-spacing: 0.3em;
     margin-top: 22px;
    margin-left: 330px;
}
     
.aligned-text_right {
   letter-spacing: 0.3em;
    margin-top: 18px;
    margin-left: 615px;
}

.cover__description {
    display: flex;
    position:absolute;
    align-items: start;
    z-index: 3;
    justify-content: space-between;
    bottom: 51px;
    margin-left: 50px;
    margin-right: 50px;
    width: 1000px;
    height: 51px;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}

.cover__description-text {
  align-self: center;
  letter-spacing: normal;
  word-spacing: 18.5px;
}

.bet__button {
   all: unset;
   background-color: transparent;
   color:#fff;
   border: #fff;
   width: 256px;
   height: 51px;
   border-radius: 3px;
   border-style: solid;
   border-width: 1px;
   text-align: center;
   letter-spacing: 0%;
   word-spacing: 0px;
}

.letter-spacing-extended {
    letter-spacing: 0.1px;
}

.no-letter-spacing {
    letter-spacing: 0%;
}

.lots {
    display: flex;
    flex-wrap: wrap;
    margin-top: 179px;
    margin-left: 24px;
    margin-right: 24px;
    width: 1052;
    height: 723;
}

.lots__heading {
    display: block;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
    margin-left: 42px;
}

.lots__card-list {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:25px;
    margin-top: 29px;
    margin-bottom: 30px;
    list-style: none;
    padding: 0px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
}

.card {
    display:flex;
    position:relative;
    flex-direction: column;
    height: 100%;
    color:#fff;
    background-size: cover;
    background-position: center;
    justify-content:space-between;
    align-items: center;
}

.card_type_film {
 background: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    display: block;
    z-index: 3;
    align-self: flex-start;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 48px;
    padding: 0px;
    line-height: 120%;
}

.card__text {
    z-index: 3;
    align-self:flex-end;
    padding:0px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 48px;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400px;
}

.lots__look-more-link {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    line-height: 120%;
    width: 192px;
    height: 23px;
    margin-left: 40px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.about {
    display:grid;
    grid-template-columns: 1fr 2fr;
    width: 1052px;
    height: auto;
    margin-top: 120px;
    margin-left: 24px;
    padding-top: 35px;
    padding-left: 47px;
    margin-bottom: 180px;
}

.about__column {
    width: 693px;
    height: 449px;
    margin-top: 98px;
    margin-right: 0px;
    margin-bottom: 13px;
}

.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    background-color: black;
    padding: 0px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 141.54px;
    height: 112.55px;
}

.about__title {
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 693px;
    height: 312px;
    font-family: Raleway, sans-serif;
    font-weight: Regular;
    font-size: 20px;
    line-height: 24px;
    margin-top: 101px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: Raleway, sans-serif;
    font-weight: 400px;
    line-height: 24.3px;
    font-size: 18px;
}

.footer__address {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    min-width: 350px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    text-underline-offset: 2px;
}

.footer__links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 120%;
}

.footer__links-list-item {
    text-decoration: underline;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    list-style: none;
}

.footer__link_active {
    text-decoration: none;
}

.image__links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 48px;
    padding-right: 50px;
    padding-bottom: 45px;
    align-items: flex-end;
    justify-self: end;
}

.footer__image {
    width:48px;
    height: 48px;
}